[submodule "ARCSEducation"]
	path = ARCSEducation
	url = https://github.com/OpenHID/ARCSEducation
[submodule "CircGR"]
	path = CircGR
	url = https://github.com/OpenHID/CircGRAPI
[submodule "Posters/mmGRasl"]
	path = Posters/mmGRasl
	url = https://github.com/OpenHID/mmGRasl
