[submodule "ARCSEducation"]
	path = ARCSEducation
	url = https://github.com/OpenHID/ARCSEducation
[submodule "CircGR"]
	path = CircGR
	url = https://github.com/OpenHID/CircGRAPI
[submodule "Posters/mmGRasl"]
	path = Posters/mmGRasl
	url = https://github.com/OpenHID/mmGRasl
[submodule "CodeVR-UE4-FPE"]
	path = CodeVR-UE4-FPE
	url = https://github.com/OpenHID/CodeVR-UE4-FPE
[submodule "CodeAdventures"]
	path = CodeAdventures
	url = https://github.com/OpenHID/CodeAdventures
[submodule "Code/CodeAdventures"]
	path = Code/CodeAdventures
	url = https://github.com/OpenHID/CodeAdventures
